@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}

.container_header {
    @include mobile;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
}
.container_localisation {
    @include mobile;
    display: flex;
    box-shadow: 0 0 15px #0000002e inset;
    background-color: map-get($background-color, gris_moyen);
    position: relative;
    padding: 1rem;
    justify-content: center;
        &__icon {
            margin-right: 1rem;
        }
            &__text {
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
            }
}
.container_fonctionnement {
    @include mobile;
    display: flex;
    flex-direction: column;
        &__cartouche {
            list-style-type: none;
            counter-reset: compteListe;
            width: 85%;
        }
            &__options {
                max-width: 100%;
                display: flex;
                background-color: map-get($background-color, gris_clair);
                height: 2rem;
                border-radius: 1rem;
                padding: 1rem 1rem;
                align-items: center;
                box-shadow: 0 0 10px #0000002e;
                margin-bottom: 1rem;
            }
                &__options::before {
                    counter-increment: compteListe 1;
                    content: counter(compteListe) " ";
                    background-color: $colour-primary;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    height: 1.6rem;
                    width: 1.6rem;
                    border-radius: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    margin-left: -1.75rem;
                }
                    & i {
                        color: $colour-quinary;
                        margin-left: 1rem;
                    }
                        & a {
                            font-family: 'Roboto', sans-serif;
                            font-size: map-get($font-size, h3);
                            font-weight: 500;
                            text-decoration: none;
                            color: black;
                            margin-left: 1.5rem;
                        }
}

.intro_site {
    background-color: $colour-quaternary;
    padding: 1.5rem;
    padding-bottom: 3rem;
    text-align: center;
        &__titre {
            font-size: map-get($font-size, h1);
        }
            &__description {
                font-size: 1rem;
            }
}