@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}

body {
    margin: 0;
}

.container_header_rts {
    @include mobile;
    display: flex;
    max-width: 100%;
    padding: 1rem;
    position: relative;
    color: black;
        &__logo{
            text-align: center;
        }
}
.img_restaurants {
    width: 100%;
    object-fit: cover;
}
#section_restaurants {
    @include section_restaurants;
}
.header_menu_rts {
    @include header_menu;
        a {
            text-decoration: none;
            color: black;
        }
}
.container_rts {
    padding: 1.2rem;
    margin-top: -1rem;
}

.cartouche_entrees, .cartouche_plats, .cartouche_desserts {
    @include bloc;
        &__bloctext {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-left: 0.8rem;
            padding-right: 1.1rem;
        }
            a{
                text-decoration: none;
                color: black;
            }
                &__text {
                    margin-top: -0.7rem;
                }
                    &__titre {
                        margin-bottom: 0.4rem;
                    }
                        &__texte {
                            margin-top: 0.3rem;
                            font-size: 0.9rem;
                        }
                            &__price {
                                font-family: 'Roboto', sans-serif;
                                font-weight: 700;
                                margin-bottom: 1rem;
                            }
}   
.button {
    display:flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}