@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}

body {
    margin: 0;
}

.container_header_rts {
    @include mobile;
    display: flex;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.img_restaurants {
    width: 100%;
    object-fit: cover;
}

.header_menu_rts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}